@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div>
    <h1>لیست کارمندان</h1>

    @foreach (var item in listKarmand)
    {
        <p>@item.name</p>
        <p>@item.lastOnline.ToString()</p>


    }

    <hr />
    @for (int i = 0; i < listKarmand.Count; i++)
    {
        <div style="background-color: @(i % 2 == 0 ? "aqua":"brown" )">
            <p>@(i + 1)</p>
            <p>@listKarmand[i].name</p>
            <p>@listKarmand[i].lastOnline.ToString()</p>
        </div>


    }




</div>



@code{


    List<Karmand> listKarmand;


    protected override void OnInitialized()
    {
        listKarmand = new List<Karmand>()

{
            new Karmand{ name = "ali",  lastOnline = new DateTime(2019,1,1)},
            new Karmand{ name = "reza", lastOnline = new DateTime(2018,1,1)},
            new Karmand{ name = "sara", lastOnline = new DateTime(2020,1,1)},
        };

    }


    Karmand karmand = new Karmand
    {
        name = "شاهرخ",
        lastOnline = new DateTime(2020, 01, 01),

    };


}